<div class="flex flex-col">
  <%= link_to "Retour", corporation_path(@corporation),data: { turbo: false }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-2 rounded" %>

  <% corporation_id = params[:corporation_id] %>
  <% if corporation_id == '1' %>
    <%= render partial: 'peintres' %>
  <% elsif corporation_id == '2'%>
    <%= render partial: 'boulangers' %>
  <% else %>
    <% redirect_to root_path %>
  <% end %>

</div>