<div class="bg-white shadow-md rounded-lg p-6 mb-6">
  <h2 class="text-xl font-semibold mb-2">Détails du formulaire</h2>
  <p><strong>Nom Prénom:</strong> <%= @formulaire.nom_prenom %></p>
  <p><strong>Année:</strong> <%= @formulaire.annee %></p>
</div>