.button-primary {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-disabled {
    background-color: #727272;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-disabled:hover {
    cursor: default;
}


.button-primary:hover {
    background-color: #357ae8;
    cursor: pointer;
}


.button-secondary {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.button-secondary:hover {
    color: #357ae8;
    text-decoration: underline;
    cursor: pointer;
}

.gradient-line {
    background: rgb(246,246,246);
    background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(182,210,244,1) 50%, rgba(255,255,255,1) 100%);
}

a.button-disabled[title], a.button-primary[title] {
    position: relative;
}

a.button-disabled[title]::after, a.button-primary[title]::after {
    content: attr(title);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

a.button-disabled[title]:hover::after, a.button-primary[title]:hover::after {
    visibility: visible;
    opacity: 1;
}

